h1{
    background-color: rgb(148, 148, 148);
}
img{
    width: 300px;
    height: 300px;
}

.imagenpque{
    width: 50px;
    height: 50px;  
}

.tablalocura{
    color: orange; 
    background-color: orchid;
}

.insta{
    width: 25px;
    height: 25px;  
}
